
#game-container {
  position: relative;
  height: 100vh; /* 高度设置为 100vh */
  height: -webkit-fill-available;

  max-width: 50vh;
  background-size: cover;
  background-position: top center;
  margin: 0 auto; /* 水平居中 */
  overflow: hidden;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  background-image: url('@/assets/bg_titled.png');

}
.going-out-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('@/assets/bg_going-out.png');
  background-size: cover;
  background-position: top center;
  /* z-index: -1; */
}

.home-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('@/assets/bg_sleep.png');
  background-size: cover;
  background-position: top center;
  /* z-index: -1; */
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.header-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background: url('@/assets/header.png') no-repeat;
  background-size: contain;
  background-position: top center;
  padding: 0.4vh 0.6vh 1.2vh;
}

.header-l {
  background: url('@/assets/header_l.png') no-repeat;
  background-size: contain;
  background-position: top center;
}

.round-info {
  color: #f7f6f6;
  text-align: center;
  margin: 0 auto;
  line-height: 2;
  width: 70vw;
}

.header-l .round-info {
  width: 82vw;
}

.attributes {
  display: block;
  position: absolute;
  top: 22%;
  left: 70%;
  text-align: left;
  font-size: 0.9rem;
  color: #94847d;
  font-weight: 500;

}
.attributes .attribute-name {
  background-color: #433e41;
  color: #fcfcfc;
  padding: 0.1rem;
}

.attributes .attribute-name.weak {
  background-color: #9d4842;
}

.attributes .attribute-number {
  padding: 0 0.25rem;
}

.attribute {
  margin-bottom: 8px;
}

.going-out-attributes {
  top: 9%;
  left: 61%;
  font-size: 0.9rem;
  color: #302824;
  font-weight: 500;
}

.going-out-attributes .attribute-number {
  background-color: #f7f6f6aa;
}

.textbox {
  font-size: 0.9rem;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 90vw;
  max-width: 45vh;
  border: 2px solid #262525;
  border-radius: 8px;
  background-color: #fcfcfc;
  z-index: 1;
}

.textbox p {
  margin: 1rem;
}

.textbox .text-history-button {
  position: absolute;
  padding: 2px 4px 2px 8px;
  border-radius: 0;
  border-top-left-radius: 4px;
  color: #d3c6c4;
  font-size: 70%;
  background-color: #4c4d55;
  bottom: 0;
  right: 0;
}

.actions {
  margin-bottom: 16px;
}

.action-button {
  cursor: pointer;
  position: absolute;
}

.action-back-home {  background: url('@/assets/button_back-home.png') center / contain no-repeat;  width: 4.65vh;  height: 7.85vh;  top: 57%;  left: 20%; }
.action-go-out {  background: url('@/assets/button_go-out.png') center / contain no-repeat;  width: 5vh;  height: 12.3vh;  top: 70%;  right: 12%; }
.action-hang-out {  background: url('@/assets/button_hang-out.png') center / contain no-repeat;  width: 5vh;  height: 13.6vh;  top: 69%;  left: 11%; }
.action-sleep-rest {  background: url('@/assets/button_sleep-rest.png') center / contain no-repeat;  width: 4.6vh;  height: 13.5vh;  top: 24%;  left: 18%; }
.action-onlive {  background: url('@/assets/button_onlive.png') center / contain no-repeat;  width: 4.8vh;  height: 12vh;  top: 56%;  left: 17%; }
.action-gaming {  background: url('@/assets/button_gaming.png') center / contain no-repeat;  width: 4.5vh;  height: 13.35vh;  top: 63%;  left: 46%; }
.action-write-song {  background: url('@/assets/button_write-song.png') center / contain no-repeat;  width: 4.6vh;  height: 11.1vh;  top: 64%;  left: 36%; }
.action-make-money {  background: url('@/assets/button_make-money.png') center / contain no-repeat;  width: 4.7vh;  height: 9.65vh;  top: 60%;  left: 36%; }
.action-back {  background: url('@/assets/button_back.png') center / contain no-repeat;  width: 4.4vh;  height: 10.5vh;  top: 68%;  left: 76%; }
.going-out-back { top: 68%;  left: auto;  right: 5%; }
.action-accompany-girlfriend {  background: url('@/assets/button_accompany-girlfriend.png') center / contain no-repeat;  width: 5vh;  height: 15.9vh;  top: 72%;  left: 21%; }
.action-eat {  background: url('@/assets/button_eat.png') center / contain no-repeat;  width: 4.4vh;  height: 15.4vh;  top: 24%;  left: 16%; }
.action-drink {  background: url('@/assets/button_drinking.png') center / contain no-repeat;  width: 4.6vh;  height: 14.95vh;  top: 54%;  left: 32%; }
.action-shopping {  background: url('@/assets/button_shopping.png') center / contain no-repeat;   width: 4.5vh;  height: 12.35vh;  top: 16%;  left: 38%; }
.action-buy-gold {  background: url('@/assets/button_buy-gold.png') center / contain no-repeat;   width: 4.5vh;  height: 13.35vh;  top: 60%;  left: 47%; }
.action-agency {  background: url('@/assets/button_agency.png') center / contain no-repeat;   width: 4.4vh;  height: 8.75vh;  top: 74%;  left: 28.4%; }
.action-cut-hair {  background: url('@/assets/button_cut-hair.png') center / contain no-repeat;  width: 4.8vh;  height: 12vh;  top: 24%;  left: 56%; }
.action-dao {  background: url('@/assets/button_Dao.png') center / contain no-repeat;   width: 4.9vh;  height: 9vh;  top: 27%;  right: 14%; }
.action-underground {  background: url('@/assets/button_Underground.png') center / contain no-repeat;  width: 5.3vh;  height: 13.6vh;  top: 72%;  left: 12%; }
.action-battle {  background: url('@/assets/button_battle.png') center / contain no-repeat;  width: 5.3vh;  height: 13.6vh;  top: 72%;  left: 52%; }

/* Styling for pop-ups */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 16px;
  border: 2px solid #1e2228;
  z-index: 1;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1e2228;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
footer button {
  /* background-color: #1e2228  191c22; */
  background-color: #1e2228;
  color: #d3c6c4;
  border: none;
  outline: none;
  cursor: pointer;
}

.textHistory {
  font-size: 0.9rem;
  max-height: 75vh;
  overflow-y: auto;
  text-align: left;
}

.textHistory p {
  margin: 0;
  font-size: 0.8rem;
  padding: 0.25rem 0;
  border-bottom: 1px dashed #4c4d55;
}

.textHistory p:last-child {
  border-bottom: none;
}

.game-ended-dialog .desc {
  font-size: 0.9rem;
  margin: 1rem auto;
  width: 90%;
  color: #4c4d55;
}

.game-ended-dialog button.restart-game-button {
  padding: 0.4rem 1rem;
  border: 2px solid #1e2228;
  background-color: #9d4842;
  color: #fff;
}

.game-ended-dialog button.continue-game-button {
  background-color: #262525;
  margin-bottom: 0.25rem;
}

.game-ended-dialog .reset-data-button-container {
  margin: 0.25rem auto;
  gap: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-ended-dialog button.reset-data-button {
  padding: 0.2rem;
  font-size: 0.8rem;
  border: none;
  background: none;
  color: #1e2228;
}


.game-ended-dialog button.confirm-button {
  margin-bottom: 0.75rem;
}

.game-ended-dialog button.cancel-button {
  margin-left: 0.75rem;
}

.game-ended-dialog .achievement {
  font-size: 0.8rem;
  margin: 1rem 0 0;
  color: #4c4d55;
}

.game-ended-dialog .hint {
  font-size: 0.7rem;
  color: #666;
  margin: 0.2rem 0 1rem;
}